In [6]:
import numpy as np
import networkx as nx
import pandas as pd
import aocd
data = aocd.get_data(day=1).split("\n")
pd.DataFrame(data).T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,130541,69856,104618,149406,64500,128553,94958,104788,87642,60597,...,60064,106100,123539,115732,107666,89177,82419,98712,148947,50931

In [7]:
def req_0(mass):
    return mass//3-2

def req(mass: int):
    fl = []
    fl.append(req_0(mass))
    while req_0(fl[-1]) > 0:
        fl.append(req_0(fl[-1]))
    return sum(fl)

assert req(12) == 2
assert req(100756) == 50346
print("tests succeeded")

aocd.submit(day=1, answer=sum([req_0(int(line)) for line in data]))
aocd.submit(day=1, answer=sum([req  (int(line)) for line in data]))

answer a: 3382284
submitting for part b (part a is already completed)
posting 3382284 to https://adventofcode.com/2019/day/1/answer (part b) token=...2749

tests succeeded

answer a: 3382284
submitting for part b (part a is already completed)
posting 5070541 to https://adventofcode.com/2019/day/1/answer (part b) token=...2749

You don't seem to be solving the right level.  Did you already complete it? [Return to Day 1]
You don't seem to be solving the right level.  Did you already complete it? [Return to Day 1]