In [47]:
import numpy as np
import networkx as nx
import pandas as pd
import aocd
data = aocd.get_data().split("\n")
pd.DataFrame(data)

         0
0   130541
1    69856
2   104618
3   149406
4    64500
..     ...
95   89177
96   82419
97   98712
98  148947
99   50931

[100 rows x 1 columns]

In [48]:
def req_0(mass):
    return mass//3-2

def req(mass: int):
    fl = []
    fl.append(req_0(mass))
    while req_0(fl[-1]) > 0:
        fl.append(req_0(fl[-1]))
    return sum(fl)

assert req(12) == 2
assert req(100756) == 50346
print("tests succeeded")

lines = [req(int(line)) for line in data]
aocd.submit(sum(lines))

answer a: 3382284
submitting for part b (part a is already completed)

tests succeeded
You don't seem to be solving the right level.  Did you already complete it? [Return to Day 1]