In [1]:
import numpy as np
import networkx as nx
import pandas as pd
import aocd
from copy import copy
from collections import defaultdict
data = [int(d) for d in aocd.get_data().split(",")]
pd.DataFrame(data)

      0
0     1
1     0
2     0
3     3
4     1
..   ..
148  99
149   2
150  14
151   0
152   0

[153 rows x 1 columns]

In [2]:
def process(data):
    data=copy(data)
    for ptr in range(0,len(data),4):
        # print(data[ptr:ptr+4]) # debug
        if data[ptr] == 1:
            data[data[ptr+3]] = data[data[ptr+1]] + data[data[ptr+2]]
        elif data[ptr] == 2:
            data[data[ptr+3]] = data[data[ptr+1]] * data[data[ptr+2]]
        elif data[ptr] == 99:
            return data
        else:
            print(f"invalid opcode {data[ptr]} @ {ptr}")

assert process([1,9,10,3,2,3,11,0,99,30,40,50]) == [3500,9,10,70,2,3,11,0,99,30,40,50]
assert process([2,3,0,3,99]) == [2,3,0,6,99]

In [3]:
data[1] = 12
data[2] = 2
out = process(data)
# out = ",".join(map(str, out)) # tostring
print(out[0])

aocd.submit(answer=out[0])

answer a: 5290681
submitting for part b (part a is already completed)

5290681
aocd will not submit that answer again. You've previously guessed 5290681 and the server responded:
That's not the right answer; your answer is too high.  If you're stuck, make sure you're using the full input data; there are also some general tips on the about page, or you can ask for hints on the subreddit.  Please wait one minute before trying again. (You guessed 5290681.) [Return to Day 2]

In [4]:
for i in range(100):
    for j in range(100):
        data[1] = i
        data[2] = j
        out = process(data)
        if out[0] == 19690720:
            print(i,j)
            aocd.submit(answer=i*100+j)

answer a: 5290681
submitting for part b (part a is already completed)

57 41
You don't seem to be solving the right level.  Did you already complete it? [Return to Day 2]