In [1]:
import numpy as np
import networkx as nx
import pandas as pd
import aocd
from copy import copy
from collections import defaultdict
OUTPUTS = []
data = [int(d) for d in aocd.get_data().split(",")]
pd.DataFrame(data)

       0
0      3
1    225
2      1
3    225
4      6
..   ...
673  223
674    4
675  223
676   99
677  226

[678 rows x 1 columns]

In [4]:
def split_parametermode(i: int):
    instr = i%100
    m1 = (i//100)%10
    m2 = (i//1000)%10
    m3 = (i//10000)%10
    return [instr, m1, m2, m3]

def process(data, inp=[], debug=False):
    ins_size = {1: 4, 2: 4, 3: 2, 4: 2, 5: 0, 6: 0, 7: 4, 8: 4, 99: 0}
    data=copy(data)
    ptr = 0
    global OUTPUTS
    while ptr < len(data):
        ins,p1m,p2m,p3m = split_parametermode(data[ptr])
        if debug:
            print(ptr, data[ptr:ptr+4])
        
        if ins!=99:
            p1 = ptr+1 if p1m else data[ptr+1]
            p2 = ptr+2 if p2m else data[ptr+2]
            p3 = ptr+3 if p3m else data[ptr+3]
        
        #print(ins,p1,p2,p3)
        
        if ins == 1:  # add
            data[p3] = data[p1] + data[p2]
        elif ins == 2:  # mul
            data[p3] = data[p1] * data[p2]
        elif ins == 3:  # read
            data[p1] = inp[0]
        elif ins == 4:  # print
            print(data[p1])
            OUTPUTS += [data[p1]]
        elif ins == 5:  # jump-if-true
            if data[p1]:
                ptr = data[p2]
            else:
                ptr += 3
        elif ins == 6:
            if not data[p1]:  # jump-if-false
                ptr = data[p2]
            else:
                ptr += 3
        elif ins == 7:
            data[p3] = int(data[p1] < data[p2])  # less than
        elif ins == 8:
            data[p3] = int(data[p1] == data[p2])  # equals
        elif data[ptr] == 99:
            return data
        else:
            print(f"invalid opcode {ins} @ {ptr}")
        ptr += ins_size[ins]

assert process([1,9,10,3,2,3,11,0,99,30,40,50]) == [3500,9,10,70,2,3,11,0,99,30,40,50]
assert process([2,3,0,3,99]) == [2,3,0,6,99]
assert process([1002,4,3,4,33]) == [1002,4,3,4,99]

In [5]:
out = process(data, [1])
aocd.submit(answer=OUTPUTS[-1])  # manually picked

answer a: 15314507
submitting for part b (part a is already completed)

0
0
0
0
0
0
0
0
0
15314507
aocd will not submit that answer again. You've previously guessed 15314507 and the server responded:
That's not the right answer; your answer is too high.  If you're stuck, make sure you're using the full input data; there are also some general tips on the about page, or you can ask for hints on the subreddit.  Please wait one minute before trying again. (You guessed 15314507.) [Return to Day 5]

In [6]:
out = process(data, [5])
aocd.submit(answer=OUTPUTS[-1])

answer a: 15314507
submitting for part b (part a is already completed)
posting 652726 to https://adventofcode.com/2019/day/5/answer (part b) token=...2749

652726
You don't seem to be solving the right level.  Did you already complete it? [Return to Day 5]