In [1]:
import networkx as nx
import pandas as pd
import aocd
parse = lambda data: [d.split(")") for d in data.split("\n")]
data = parse(aocd.get_data())
pd.DataFrame(data).T # debug statement

,0,1,2,3,4,5,6,7,8,9,...,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239
0,F4H,TG2,Y6X,TK5,LLY,XL2,BTG,DLS,X4H,JK5,...,J8R,85X,6BV,YCZ,56X,697,H8S,9YL,FLW,DT1
1,7LQ,G6N,5MP,5KN,WKD,94R,PQ1,LR5,C93,WB1,...,LL7,C6Z,BRB,D3V,ZZC,C74,MKK,G6S,NJS,5Y2

In [2]:
def process(data):
    g = nx.DiGraph(data)
    # print(g.nodes, g.edges)
    return sum([len(nx.descendants(g,n)) for n in g.nodes])

assert process(parse("COM)B\nB)C\nC)D\nD)E\nE)F\nB)G\nG)H\nD)I\nE)J\nJ)K\nK)L")) == 42

aocd.submit(day=6, answer=process(data))

answer a: 158090
submitting for part b (part a is already completed)
posting 158090 to https://adventofcode.com/2019/day/6/answer (part b) token=...2749

You don't seem to be solving the right level.  Did you already complete it? [Return to Day 6]

In [3]:
def process2(data): 
    g = nx.Graph(data)
    return nx.shortest_path_length(g,source='YOU',target='SAN') - 2  # don't count first and last

assert process2(parse('COM)B\nB)C\nC)D\nD)E\nE)F\nB)G\nG)H\nD)I\nE)J\nJ)K\nK)L\nK)YOU\nI)SAN')) == 4

aocd.submit(day=6, answer=process2(data))

answer a: 158090
submitting for part b (part a is already completed)
posting 241 to https://adventofcode.com/2019/day/6/answer (part b) token=...2749

You don't seem to be solving the right level.  Did you already complete it? [Return to Day 6]